//COLORS
$white: #FFFFFF;
$blue: #376EFF;
$blue-dark: #2D3750;
$orange: #FF715E;
$orange-light: #f38b7d;
$orange-extra: #f54d36;
$dray: #636066;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;600;700&display=swap');

$fontfamily: "Raleway", sans-serif;


// MEDIA
$level_1: 1350px;
$level_2: 1245px;
$level_3: 1025px;
$level_4: 994px;
$level_5: 830px;
$level_6: 767px;
$level_7: 580px;
$level_8: 420px;
$level_9: 380px;

// WIDTH
$desktopwidth: 1260px;
//$desktopwidth: 1340px;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: 1340 - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
